.img {
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    top: 20px;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: #008184;
}
#h1 {
    font-size: 100px;
}
#welcome {
    font-size: 60px;
}
#menu {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #f8f9fa;
    border-bottom: px solid #dee2e6;
}

#modalBtn {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
   }
   
   /* Modal Content/Box */
   .modal-content {
    background-color: #fefefe;
    margin-top: 20px;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
   }
   
   /* The Close Button */
   
/* Add this CSS to your existing stylesheet */
.close {
    color: #aaa;
    margin-top: 0.8%;
    margin-right: 3%;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top: 0px;
    right: -2px;
    cursor: pointer;
}
.close:hover {
    color: black;
}

#p0 { text-indent: 2em; }
#p1 { text-indent: 2em; }
#p2 { text-indent: 2em; }

.footer {
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading img {
    width: 90px;
    height: 90px;
}

#cmd-container {
    margin-top: 30px;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #008184;
    font-family: 'Courier New', monospace;
    overflow-y: scroll;
    height: 500px;
}

#cmd-input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #008184;
    font-family: 'Courier New', monospace;
    outline: none;
}
html {
    scroll-behavior: smooth;
  }
.scrollable-div {
    overflow-y: auto;
    /* You can also use 'auto' to show scrollbars only when needed */
  }