.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    height: auto; /* Set the height as needed */
    /* overflow-y: hidden; This will enable a vertical scrollbar when content overflows */
    padding: 60px; /* Optional: Add padding for better styling */
    /* scrollbar-width: thin; */
}
.poster {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    padding: 60px;
}
#margin {
    margin-top: 80px;
}
.img {
    position: absolute;
    top: 0;
    left: 0;
}

#title {
    top: 20px;
    right: 0;
    font-size: 20px;
    font-weight: bold;
    color: #008184;
}
#h1 {
    font-size: 100px;
    color: white;
}
#welcome {
    font-size: 60px;
    color: white;
}
#menu {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    background-color: #f8f9fa;
    border-bottom: px solid #dee2e6;
}

#modalBtn {
    cursor: pointer;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
   }
   
   /* Modal Content/Box */
   .modal-content {
    background-color: #fefefe;
    margin-top: 20px;
    margin: 20% auto; /* 15% from the top and centered */
    padding: 20px;
    /* border: 1px solid #888; */
    width: 80%; /* Could be more or less, depending on screen size */
   }
   
   /* The Close Button */
   
/* Add this CSS to your existing stylesheet */
.close {
    color: #aaa;
    margin-top: 0.8%;
    margin-right: 3%;
    font-size: 28px;
    font-weight: bold;
    text-align: right;
    position: absolute;
    top: 0px;
    right: -2px;
    cursor: pointer;
}
.close:hover {
    color: black;
}


.footer {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#loading img {
    width: 90px;
    height: 90px;
}

#video {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }
  

#cmd-container {
    margin-top: 30px;
    width: 900px;
    margin: 0 auto;
    padding: 10px;
    background-color: #000;
    color: #008184;
    font-family: 'Courier New', monospace;
    overflow-y: scroll;
    height: 500px;
}

#cmd-input {
    width: 100%;
    border: none;
    background-color: transparent;
    color: #008184;
    font-family: 'Courier New', monospace;
    outline: none;
}

.navbar-brand img {
    margin-left: 20px; /* Adjust the margin as needed */
}


.comment {
    margin-top: 20px;
}
.detail {
    color: #008184;
}

.section {
    text-align: center;
    background-color: #008184;
    padding: 40px;
    color: white;
}


.circle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px;
}

.image-text {
    margin: 10px;
    font-size: 18px;
    color: white;
}
.one {
    background-color: #008184;
}